<h1>The Herd</h1>

<ul id='horse-list'>
  <% @horses.each do |horse| %>
    <li>
      <%= erb :"/horses/_horse_overview", { layout: false, locals: { horse: horse } } %>
    </li>
  <% end %>
</ul>

<form method="GET" action="/horses/new">
  <button type="submit">Create a new horse here</button>
</form>
