<h1 class="pad-b-1">Meet the Herd</h1>

<ul id='horse-list' class="horse-list">
  <% @horses.each do |horse| %>
    <li>
      <%= erb :"/horses/_horse_overview", { layout: false, locals: { horse: horse } } %>
    </li>
  <% end %>
</ul>

<form method="GET" action="/horses/new">
  <button type="submit" class="brown-button">Add a Horse</button>
</form>
