<h1>Add a Horse</h1>

<% if @horse.errors %>
  <section class="errors">
    <ul>
      <% @horse.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </section>
<% end %>


<form id="new-horse-form" method="post" action="/horses">

  <label for="horse-name">Name:</label>
  <input id="horse-name" type="text" name="horse[name]" value="<%= @horse.try(:name) %>">

  <label for="horse-age">Age:</label>
  <input id="horse-age" type="text" name="horse[age]" value="<%= @horse.try(:age) %>">

  <label for="horse-breed">Breed:</label>
  <input id="horse-breed" type="text" name="horse[breed]" value="<%= @horse.try(:breed) %>">

  <button type="submit">Submit</button>
</form>

