<h1 class="blue pad-b-1">Add a Horse</h1>

<% if @horse.errors.any? %>
  <section class="errors">
    <ul>
      <% @horse.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </section>
<% end %>


<form id="new-horse-form" method="post" action="/horses">
  <div class="input-group">
    <label>
      <input id="horse-name" type="text" name="horse[name]" value="<%= @horse.try(:name) %>">
      <span>Name:</span>
    </label>

    <label>
      <input id="horse-age" type="text" name="horse[age]" value="<%= @horse.try(:age) %>">
      <span>Age:</span>
    </label>

    <label>
      <input id="horse-breed" type="text" name="horse[breed]" value="<%= @horse.try(:breed) %>">
      <span>Breed:</span>
    </label>
  </div>

  <button type="submit" class="brown-button">Submit</button>
</form>

