<h2>Mis Caballos</h2>
<div id='caballo-list'>
  <% @caballos.each do |caballo| %>
    <div id="caballo">
     <h3><a href="/caballos/<%= caballo.id%>"><%= caballo.name %></a></h3>
    </div>
  <% end %>
</div>

<h3><a id="new-caballo" href="/caballos/new">Create a new caballo here</a></h3>

