<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Crafty+Girls'>
  <link rel="stylesheet" href="/css/application.css">

  <!-- JavaScripts -->
  <script src="/js/application.js"></script>

  <title>Penelope's Horses</title>
</head>

<body>
  <header>
    <div class="container">
      <h1>Penelope's Horses</h1>
    </div>
  </header>

  <main class="container" role="main">
    <%= yield %>
  </main>
</body>
</html>
